.about {
  margin-top: 4em;
  display: flex;
  justify-content: space-between;
  justify-items: start;
  flex-flow: row wrap;
  width: 85%;
  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    height: 2.2em;
  }
  &__tech {
    height: 30%;
    display: flex;
    flex: 0 1 346px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    &__title {
      font-weight: 400;
      white-space: nowrap;
    }
    & Ul {
      padding: 0;
    }
    & ul > li {
      list-style-type: none;
      height: 2.2em;
    }
    & ul > li , &__title {
      position: relative;

      left: 0;
      &:hover {
        left: 42px;
        cursor: pointer;
      }
      &:hover:before {
        content: "";
        position: absolute;
        display: block;
        left: -42px;
        top: .65em;
        width: 29px;
        height: .1em;
        background-color: #000000;
        pointer-events: none;
      }
    }
  }

  &__us {
    flex: 0 1 465px;
  }

  &__content {
    display: none;
  }
}

.active {
  display: block;
}

.disable {
  display: none;
}