:root {
  --duration_one: 1s; //header logo
  --duration_two: .8s; // menu list & content
  --duration_three: 2s; // start menu btn
}

.header__logo {
  animation: fadeIn  var(--duration_one)  ease-in-out;
}

.about__tech{
  &__title { // start menu drop
    animation: var(--duration_three) cubic-bezier(.165,.015,0,.965) 0s drop; // start menu btn
  }
  &__nlp {
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__mlds{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__mlops{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__rd{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__da{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__lddm{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__ac{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
  &__smbl{
    animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
  }
}

.about__content {
  animation: var(--duration_two) cubic-bezier(.165,.015,0,.965) 0s drop_hide;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes drop_hide{
  0%{
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;

  }
  50% {
    opacity: .5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
};