
:root {
  --acent-color: #FFF500;
}

html.light {
  --color-bg: #E5E5E5;
  --color-text-main: #000000;
  --color-text-sup:#6A6A6A;
}

html.dark {
  --color-bg: #121212;
  --color-text-sup:  #BBBBBB;
  --color-text-main:#FFFFFF;
}

html.dark .header__logo {
  color: var(--acent-color);
  box-sizing: border-box;
  background: url('../img/logo_white_horizontal.svg') no-repeat;
  width: 205px;
  height: 60px;
}

html.light .header__logo {
  color: var(--acent-color);
  box-sizing: border-box;
  background: url('../img/logo_black_horizontal.svg') no-repeat;
  width: 205px;
  height: 60px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-main);
}

.about__title {
  color: var(--color-text-main);
}
.about__tech {
  & ul > li , &__title {
    &:hover:before {
      background-color: var(--color-text-main);
    }
  }
}

.about__us__txt {
  color: var(--color-text-sup);
}