.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 3em 0;


  & > div {
    border: 2px solid #DADADA;
    padding: 3px 6px;
    white-space: nowrap;
    align-self: center;
    margin: .3em;
  }
  & > div :not(:first-child) {
    margin-left: 45px;
  }

}
