.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin: 3em 0;
  padding: 0;
  & > li {
    list-style: none;
    text-decoration: none;
    border: 2px solid #DADADA;
    padding: 3px 6px;
    white-space: nowrap;
    // align-self: center;
    &:hover {
      transition-duration: 1.5s;
      border-color: var(--acent-color);
      cursor: pointer;
    }
  }
  & > li:not(:first-child) {
    margin-left: 45px;
  }

}
