//white theme
$text-main-white-theme:#000000;
$text-second-white-theme:#6A6A6A;
$bg-white-theme:#E5E5E5;

//dark theme
$text-main-dark-theme:#FFFFFF;
$text-second-dark-theme:#BBBBBB;
$bg-dark-theme:#121212;

$acent-color: #FFF500;